.container-fulid{

    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container-login{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.facebook_button{background: #4267b2;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #e3e7ef;
  justify-content: center;
  padding: 10px;
  height: 48px;
  width: 400px;
  text-decoration: none;
  text-align: center;
  
}

.google-btn{
    background: #fff;
  color: #60636c;
  border-radius: 6px;
  border: 1px solid #e3e7ef;
  justify-content: center;
  margin-right: 1.5rem;
  height: 48px;
  padding: 8px;
  width: 400px;
  text-align: center;
  
  margin-top: 20px;
}

  .buttons{letter-spacing: -.02em;
  width: 100%;
  display: flex;
  
  align-items: center;
  margin-top: 10px;
  transition: .5s;}

 

    .welcome{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 150px;
    }

    .register{
        
            color: #fff;
            border-radius: 6px;
            border: 1px solid #e3e7ef;
            justify-content: center;
            padding: 10px;
            height: 48px;
            width: 400px;
            text-decoration: none;
            text-align: center;
            
          
    }


   .switch-auth-label{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .75rem;
    color: #60636c;
    font-size: 13px
   }
    .mb-3{
        width: 400px;
    }

    .tos-notice{
        text-align: center;
    }
    
    .auth-separator {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.5em 0;
        color: silver;
        font-size: 12px;
    }      

    .line {
        width: 42%;
        background: #e3e7ef;
        height: 1px;
      }

      .google-logo{
        height: 3cap;
      }

      .line-seperator{
        width: 100%;
        background: #e3e7ef;
        height: 1px;
      }

      .insight-logo{
        height: 2cap
      }

      .scroll{
        width: 300px;
        height: 200px;
        overflow-y: scroll;
      }

      .scroll::-webkit-scrollbar {
        width: 10px;
      }

      .scroll::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
      }

      .scroll::-webkit-scrollbar-track {
        background-color: #eee;
        color: rgb(15, 235, 34);
      }
      
  .add-source-button{
   
      background: #dbeee4;
    border-radius: 6px;
    border: 1px solid #e3e7ef;
    justify-content: center;
    margin-right: 1.5rem;
    height: 30px;
    padding: 8px;
    width: 100%;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
    margin-left: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    color: black;
    align-items: center;
  }
  
  .name{
    font-family: sans-serif;
    font-weight: bolder;
  }

  .item{
    border-radius: 6px;
    border: 1px solid #e3e7ef;
  font-size: 14px;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 48px);
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  margin-left: 20px;
  cursor: default;
  background: rgba(227,231,239,.301961)
}
 
.item-logo{
  height: 2cap;
}
.item-bottom{
  border-radius: 6px;
  border: 1px solid #e3e7ef;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 48px);
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  cursor: default;
  background: rgba(227,231,239,.301961)
}

.content {
  padding-bottom: 50px;
  margin-top: 350px;
}

.polymer-explorer-top-bar {
  background-color: #fff;
  border-bottom: 1px solid rgba(227,231,239,.698039);
  padding: 12px 24px;
width: 100%
}

  .search{
   margin-left: 70%;
   }

   .item:hover{
  background-color: black;
  color: #eee;
   }

   .outer{
    background-color: rgba(227,231,239,.2);
  border: 1px dashed #cacbd0;
  border-radius: 6px;
   }

   .inner{
    height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
   }

   .padding{
    padding-bottom: 0%;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
   }

   .category {
    margin-right: 12px;
    --tw-text-opacity: 1;
    color: rgb(144 146 152 / var(--tw-text-opacity));
    line-height: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: opacity .3s;
    padding: 5px 6px;
  }
  
  .justify-between {
    display: flex;
     
  }
  
  .card-connector {
    width: 200px;
    height: 350px;
    border-radius: 6px;
    background: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
}

.connectimg{
  height: 72px;
  margin-bottom: 18px;
}

.card-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem 0;
  min-height: 400px;
  margin-top: 40px;
  gap: 20px;
}

.card-button{
  width: 150px;
  height: 50px;
  text-align: center;;
}

.logout {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 6px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  height: 30px;
  width: 70px;
}
.page{
  text-align: justify;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  background-color: antiquewhite;
  padding: 25px
}